body, html, #root{
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
#root{
  max-width: none !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
